<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="/css/mystyles.css">
</head>

<body>
    <section class="hero is-dark is-bold">
        <div class="hero-body">
            <h1 class="title">kusostat</h1>
            <h2 class="subtitle is-6">stores your poo and pee info</h2>
        </div>
    </section>

    {% block content %}{% endblock content %}
</body>

</html>
